/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');

:root {
  /*
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
  --font-size-large: 1.25rem;
  --spacing-unit: 8px;
  */
  --body-font-size: 16px;
  --h1-font-size: 1.5em;
  --h2-font-size: 1.3em;
  --h3-font-size: 1.2em;

  --p-width: 72ch;
  --h1-max-width: 36.67ch;
  --h2-max-width: 42.31ch;
  --h3-max-width: 45.83ch;
}

li {
  max-width: 52ch;
}

blockquote {
  max-width: 53ch;
}


@media (max-width: 768px) {
  :root {
    --body-font-size: 14px;
    /*
    --h1-font-size: 1.31em;
    --h2-font-size: 1.14em;
    --h3-font-size: 1.05em;

    --h1-max-width: 32.5ch;
    --h2-max-width: 37.14ch;
    --h3-max-width: 43.33ch;
    */
  }
}

body {
/*
  font-family: 'Merriweather', serif;
*/
  font-family: "PrettyKorean";
  font-size: var(--body-font-size);
  line-height: 1.6;
  color: #333;
}

@font-face {
    font-family: "PrettyKorean";
    src: url("./resource/fonts/NotoSerifKR-Bold/NotoSerifKR-VariableFont_wght.ttf") format("tff");
    font-weight: normal;
    font-style: normal;
}

.pretty-korean {
/*
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Sunflower', sans-serif;
  font-family: 'Sunflower', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans KR', sans-serif;
  */
  font-family: "PrettyKorean";
}

h1, h2, h3, h4, h5, h6 {
/*
  font-family: 'Montserrat', sans-serif;
*/
  font-family: "PrettyKorean";
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /*max-width: 35.2ch;*/
}

h1 { 
  font-size: var(--h1-font-size); 
  max-width: var(--h1-max-width);
}

h2 { 
  font-size: var(--h2-font-size); 
  max-width: var(--h2-max-width);
}

h3 { 
  font-size: var(--h3-font-size); 
  max-width: var(--h3-max-width);
}

p {
  /*
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  */
  max-width: var(--p-width); /* Limits line length for readability */
  /*max-width: 65ch; /* Limits line length for readability */
}

/* Properties of animated graphs by JavaScript */
.node-label {
  font-size: var(--body-font-size);
  pointer-events: none;
}

.node {
  /* fill: rgba(0, 0, 255, .8); */
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  stroke: rgba(0, 0, 0, .5);
  stroke-width: 1.5px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}

.boxed-quote {
  border: 1px solid #aaf;
  padding: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-left: 0;  /* Aligns to the left */
  width: auto;     /* Allows it to take its natural width */
}
